<div class="container">
  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <h3 id="msgRetorno">Atenção!</h3>
    <ul>
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>
  <button (click)="openDialog()" type="button" class="btn btn-primary mb-2">
    Adicionar Produto
  </button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let produto"> {{produto.nomeProduto}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let produto"> R$ {{ produto.valor | number : "1.2-2" }} </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let produto">
          <button (click)="openDialogEdicao(produto)" class="btn btn-primary me-1">Editar</button>
          <button type="button" (click)="remover(produto)" class="btn btn-danger">Remover</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalRegistros"
                [pageSize]="tamanhoPagina"
                [pageIndex]="paginaAtual"
                [hidePageSize]="false"
                (page)="handlePageEvent($event)"
                aria-label="Select page">
    </mat-paginator>
  </div>
</div>
